.step {
    display: none;
    margin: 0;
    padding: 0;
}
.step_active {
    display: block;
    margin: 5px auto 5px auto;
}
#title {
    text-align: center;
}
#ads {
    margin: 2px auto 2px auto;
}
.middle {
    margin-left: auto;
    margin-right: auto;
}
.games_list {
    width: 200px;
}
#game_form, #channel_form {
    margin: 2px auto 2px auto;
    width: 500px;
}
/*
#start_btn, #games-with-qtip {
    float: left;
}
*/    
#start_btn {
    margin-left: 15px;
}
#not_registered {
    color: #008B8B;
    margin-top: 10px;
    text-align: center;
}
.tiny {
  font-family:verdana,arial,helvetica,sans-serif;
  font-size:xx-small;
}
#authorized {
    float: right;
    display: none;
    width: auto;
    margin-right: 15px;
}
/***** Tables *****/ /* Tables should be inside a div with class table-box. * The table itself should be of class properties or class listing, depending on whether it's * a two-column properties tables, or a multi-column listing. */ 
.table-box { 
    border: 1px solid #8D9FA5; clear: both; /*margin: 20px 0; */
    padding: 15px 15px 10px 15px; width:420px; 
}
.table-box th, .table-box td {
    border: none; padding: 4px 8px; text-align: left; 
}
.table-box h3 {
    background-color: #fff; color: #000; font-size: 14px; margin: 0 0 -24px 0;
    padding: 0 13px 0 6px; position: relative; float: left; top: -26px; 
    width: auto; 
}
.mcrmeebo { 
  display: block; background:url("http://widget.meebo.com/r.gif") no-repeat top right; 
}
.mcrmeebo:hover { 
  background:url("http://widget.meebo.com/ro.gif") no-repeat top right; 
}
